<nav class="navbar navbar-expand-lg navbar-light bg-primary"></nav>
<div class="container">
    <div style="margin-bottom: 2em;">
    <form class="d-flex flex-row" style="justify-content: space-around;" [formGroup]="addRowData" (ngSubmit)="onSubmit(addRowData.value)">
        <div class="p-2"><input class="form-control" type="text" placeholder="type title" formControlName="title" required>
        </div>
        <div class="p-2"><input class="form-control" type="text" placeholder="type author" formControlName="author" required>
        </div>
        <div class="p-2"><input class="form-control" type="number" placeholder="type price" formControlName="price" required>
        </div>
        <div class="p-2"><button type="submit" class="btn btn-primary" [disabled]="!addRowData.valid">Add Row</button>
        </div>

    </form>
</div>
<div class='table-responsive-sm'>

    <table class="table table-bordered"  *ngIf="tableData.length; else elseBlock">
        <thead>
            <tr>
                <th scope="col-sm-3">Title</th>
                <th scope="col-sm-3">Author</th>
                <th scope="col-sm-2">Price($)</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor= "let data of tableData; let dataIndex = index">
                <td *ngIf="!data.editable">{{data.title}}</td>
                <td *ngIf="data.editable">
                    <input class="form-control" type="text" placeholder="type title" [(ngModel)]="data.title">
                </td>
                <td *ngIf="!data.editable">{{data.author}}</td>
                <td *ngIf="data.editable">
                    <input class="form-control" type="text" placeholder="type author" [(ngModel)]="data.author">
                </td>
                <td class="table-input-price" *ngIf="!data.editable">{{data.price}}</td>
                <td class="table-input-price" *ngIf="data.editable">
                    <input class="form-control" type="number" placeholder="type price" [(ngModel)]="data.price">
                </td>
                <td style="width: 30%">
                    <button *ngIf="!data.editable" type="submit" class="btn btn-cell btn-secondary" (click)="data.editable = !data.editable;">Edit</button>
                    <button *ngIf="data.editable" type="submit" class="btn btn-cell btn-secondary" (click)="data.editable = false">Save</button>
                    <button type="submit" class="btn btn-cell btn-secondary" (click)="viewBookDetails(data)">View</button>
                    <button type="submit" class="btn btn-cell btn-secondary" (click)="tableData.splice(tableData.indexOf(data), 1)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #elseBlock>
        <div class="alert alert-info mx-auto" role="alert">
            Let's Add Some New Books
          </div>
    </ng-template>
</div>
</div>